formatter: "markdown table" # this is required

version: ">= 0.13.0, < 1.0.0"

header-from: main.tf
footer-from: ""

# recursive:
#   enabled: false
#   path: modules

sections:
  hide: []
  show: []


content: |-
  ## Module Docs

  ### Basic Example
  ```hcl
  {{ include "examples/basic/main.tf" }}
  ```  
  ### Advanced Example
  ```hcl
  {{ include "examples/advanced/main.tf" }}
  ```  
  ### Software packs
  ```hcl
  {{ include "modules/software/software_packs.tf" }}
  ```  
  ----
  {{ .Inputs }}   
  ----
  {{ .Modules }}   
  ----
  {{ .Outputs }}   
  ----
  {{ .Providers }}   
  ----
  {{ .Requirements }}   
  ----
  {{ .Resources }}  
  ----
  ``` 


output:
  file: README.md
  mode: inject
  template: |-
    <!-- BEGIN_TF_DOCS -->
    {{ .Content }}
    <!-- END_TF_DOCS -->
    

output-values:
  enabled: false
  from: ""

sort:
  enabled: true
  by: name

settings:
  anchor: true
  color: true
  default: true
  description: false
  escape: true
  hide-empty: false
  html: true
  indent: 3
  lockfile: true
  read-comments: true
  required: true
  sensitive: true
  type: true
